<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All ratings
    </h1>

    <a href="/ratings/new" class="btn btn-block btn-outline-secondary">
      Add a new rating
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Score
        </th>

        <th>
          User
        </th>

        <th>
          Article
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @ratings.each do |rating| %>
      <tr>
        <td>
          <%= rating.id %>
        </td>

        <td>
          <%= rating.score %>
        </td>

        <td>
          <%= rating.user_id %>
        </td>

        <td>
          <%= rating.article_id %>
        </td>

        <td>
          <%= time_ago_in_words(rating.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(rating.updated_at) %> ago
        </td>

        <td>
          <a href="/ratings/<%= rating.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
