<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Rating #<%= @rating.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/ratings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/ratings/<%= @rating.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit rating
        </a>
      </div>

      <div class="col">
        <a href="/delete_rating/<%= @rating.id %>" class="btn btn-block btn-outline-secondary">
          Delete rating
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Score
      </dt>
      <dd>
        <%= @rating.score %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @rating.user_id %>
      </dd>

      <dt>
        Article
      </dt>
      <dd>
        <%= @rating.article_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@rating.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@rating.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

