<div class="row mb-4">
  <div class="offset-md-1 col-md-10">

    <img src="https://quotefancy.com/media/wallpaper/3840x2160/1622615-Ray-Mears-Quote-Knowledge-is-the-key-to-survival-the-real-beauty.jpg" class="img-fluid" style="object-fit:cover; object-position:center; width:100%; max-height:250px">

  </div>
</div>

<div class="row mb-3">
  <div class="offset-md-1 col-md-10">

    <h1 class="display-4">You're being curious - and we love it</h1>
    
    <p>The world is changing at a faster pace that ever before and what sets digital leaders apart is an inherent drive towards quenching their thirst of curiosity (the wording is stolen by Harald Neidhardth, who rephrased the 'what it takes in the digital age' because people tend to react adversly to the notion of 'life-long learning'). The good news is that curiousity requires neither special genetics nor any other superpower - all it takes is an interest towards understanding the what, why and how of developments. Since this can be more than tough (yes, information overload is a thing - <a href="https://www.theatlantic.com/technology/archive/2016/05/how-many-stories-do-newspapers-publish-per-day/483845/">according to The Atlantic, The Post alone publishes an average of 1,200 stories, graphics, and videos per day</a>), we developed an <strong>optimized approach towards supporting our community in identifying and structuring content that is most impactful and valuable to them.</strong></p>
    
    
    <p>In that sense, welcome to curiousITy. Use the modal below to sign up or log in.</p>
    
    </div>
</div>

<div class="row">
  <div class="offset-md-3 col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">
        <%= resource_name != "user" ? resource_name.to_s.titleize : "" %> Sign In
      </h5>

      <div class="card-body">
        <% if flash[:notice].present? %>
          <div class="alert alert-info" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>

        <% if flash[:alert].present? %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <% form_html_options = { novalidate: true, class: "mb-3" } %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: form_html_options) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-check mb-3">
              <%= f.label :remember_me, class: "form-check-label" do %>
                <%= f.check_box :remember_me, class: "form-check-input" %> Remember me
              <% end %>
            </div>
          <% end -%>

          <%= f.submit "Sign in", class: "btn btn-outline-primary btn-block" %>

          <hr>

          <%= render "users/shared/links" %>
        <% end %>
      </div>
    </div>
    
    
    
  </div>
</div>
