<div class="row mb-4">
  <div class="offset-md-1 col-md-10">

    <img src="https://quotefancy.com/media/wallpaper/3840x2160/1622615-Ray-Mears-Quote-Knowledge-is-the-key-to-survival-the-real-beauty.jpg" class="img-fluid" style="object-fit:cover; object-position:center; width:100%; max-height:250px">

  </div>
</div>

<div class="row mb-3">
  <div class="offset-md-1 col-md-10">

    <h1 class="display-4">Welcome to KnowledgeSwipe</h1>
    
    <p>The idea is simple: create a platform that enables its users to get hold of the most impactful and valuable content from news stories to deep-dive insight reports. Instead of relying on algorithmic matching, we are convinced that - given that current state of artificial intelligences - thoughtful recommendations by like-minded people proof most powerful in identifying content that is relevant and customized. At KnowledgeSwipe (name is still tbd, very open to suggestions), <strong>you can manage your entire thirst for knowledge and new content in one platform, from seeking the very best articles and studies to keeping everything organized in the most neat and convenient way</strong>. It's our goal to become your go-to source of knowledge and information!</p>
    
    <p>In case you're new to KnowledgeSwipe, <a href="#" data-toggle="modal" data-target="#bannerformmodal">read this</a>.  If not, glad to have you back.</p>
    
    <div class="modal fade bd-example-modal-lg bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="bannerformmodal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">We are taking our first steps</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>The current state of our platform is basically a V0.01, the very first beta we have been working on. While our intention may sound great in thought, we want to test its usability and feasibiltity in real-life circumstances. <strong>For that, we invited you (and some others) to become the initial (test-)users of KnowledgeSwipe</strong>. Everyone that was selected at this early stage tends to have some interest in digital topics - may it be machine learning, self-driving cars, software development, robotics or any other topic. We think that having a common topic will help to kickstart the communication on the platform and improve the experience to every one of you (despite the rather small size of our community for now). <strong>Accordingly, it would be amazing if you can focus your activity on KnowledgeSwipe on these topics for now. Also, please try to share minimum two articles a week</strong> and be as present with likes, comments, ratings, ... as possible - it would definitely be appreciated!</p>

            <p>We tried to make the user flow as self-explaining as possible, but we'll share some basic instructions anyway. There is no follow/friend functionality yet, <strong>so basically everyone with an account on the plaftform is in your community</strong>. Under <strong>Newsfeed</strong> (homepage), you can see all the content posted by either user in chronological order. By clicking on any <strong>hashtag, author or source</strong> link or using the focus dropdown, you'll be redirected to the specific detail pages. Using the <strong>bookmark and favorite</strong> icon on the bottom right of the image (or the buttons on the bottom using the modal view when clicking on the title), you can add/delete content to/from your personal bookmarks and favorites. Your <stong>personal profile</stong> can be accessed using the button in the top right showing your username. After all, we guess most (or hopefully all) things we be self-explaining. If not, feel free to text David.</p>
        
            <p>On a last note, since this is the very first beta, things are far from perfect. <strong>Don't be afraid to let us know about all the errors you find and potential improvements you perceive</strong>, we are definitely open for any kind of feedback. To simplify this, there is a form under Community -> Give some feedback, feel free to use it as often as you desire.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-md-3 col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">
        <%= resource_name != "user" ? resource_name.to_s.titleize : "" %> Sign In
      </h5>

      <div class="card-body">
        <% if flash[:notice].present? %>
          <div class="alert alert-info" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>

        <% if flash[:alert].present? %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <% form_html_options = { novalidate: true, class: "mb-3" } %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: form_html_options) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-check mb-3">
              <%= f.label :remember_me, class: "form-check-label" do %>
                <%= f.check_box :remember_me, class: "form-check-input" %> Remember me
              <% end %>
            </div>
          <% end -%>

          <%= f.submit "Sign in", class: "btn btn-outline-primary btn-block" %>

          <hr>

          <%= render "users/shared/links" %>
        <% end %>
      </div>
    </div>
    
    
    
  </div>
</div>
