<div class="btn-group dropright">
  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    sort hashtags
  </button>
  <form action="/hashtags">
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button class="dropdown-item" <%= button_tag "by articles count", {:class => "bttn-and-txt", :name => "sort", :value => "articles_count"} %></button>
    <button class="dropdown-item" <%= button_tag "by average rating", {:class => "bttn-and-txt", :name => "sort", :value => "rating"} %></button>
  </div>
  </form>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Tag
        </th>

        <th>
          Shared Articles
        </th>

        <th>
          Avg Rating
        </th>

      </tr>

      <% @focus_sorted.each do |element| %>
      <tr>
        <td>
          <a href="/hashtags/<%=element[:id]%>">
            <%= element[:hashtag] %>
          </a>
        </td>

        <td>
          <%= element[:articles_count] %>
        </td>
        
        <td>
          <% rating_avg = element[:rating] %>
          <a style="color:gold">
            <!-- first star -->
            <% if rating_avg == 0%>
              <i class="far fa-star"></i>
            <% else %>
              <i class="fas fa-star"></i>
            <% end %>
            <!-- second star -->
            <% if rating_avg <= 2 %>
              <i class="far fa-star"></i>
            <% elsif rating_avg == 3 %>
              <i class="fas fa-star-half"></i>
            <% else %>
              <i class="fas fa-star"></i>
            <% end %>
            <!-- third star star -->
            <% if rating_avg <= 4 %>
              <i class="far fa-star"></i>
            <% elsif rating_avg == 5 %>
              <i class="fas fa-star-half"></i>
            <% else %>
              <i class="fas fa-star"></i>
            <% end %>
            <!-- fourth star star -->
            <% if rating_avg <= 6 %>
              <i class="far fa-star"></i>
            <% elsif rating_avg == 7 %>
              <i class="fas fa-star-half"></i>
            <% else %>
              <i class="fas fa-star"></i>
            <% end %>
            <!-- fifth star star -->
            <% if rating_avg <= 8 %>
              <i class="far fa-star"></i>
            <% elsif rating_avg == 9 %>
              <i class="fas fa-star-half"></i>
            <% else %>
              <i class="fas fa-star"></i>
            <% end %>
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
