<!-- https://stackoverflow.com/questions/40949176/how-to-pass-a-variable-to-modal-from-a-for-loop -->

<div class="card">
    
    <!-- card title -->
    <div class="card-header">
        <h4 class="card-title">
              <%= article.tc_title %>
        </h4>
    </div> <!-- card header -->
    
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <!-- snippet of article + desciption with link to website -->
          <!-- still need to look into video compatibility -->
          <% if article.tc_card == "summary_large_image"%>
            <a target="_blank" rel="noopener noreferrer" href="<%=article.link%>">
              <img src="<%=article.tc_image%>" class="img-fluid pl-4 pr-4">
              <% if article.tc_description.blank? == false %>
                <span class="d-none d-sm-block pl-4 pr-4 pt-1">
                  <small style="color:grey"><%=article.tc_description%></small>
                </span>
              <% end %>
            </a>
          <% elsif article.tc_description.blank? == false %>
            <a target="_blank" rel="noopener noreferrer" href="<%=article.link%>">
              <small style="color:grey"><%=article.tc_description%></small>
            </a>
          <% else %>
            <a target="_blank" rel="noopener noreferrer" href="<%=article.link%>">
              <span><small style="color:grey">find the article here</small></span>
            </a>
          <% end %>
        </div> <!-- col for pic and description -->
      </div> <!-- row for pic and description -->
      
      <ul class="list-unstyled pl-4 pr-4 pt-2">

        <!-- row for reading time, source and author -->
        <div class="row">
          
          <div class="col-md-12"><small>
            <!-- reading time --><a>
              reading time: 
              <% if article.reading_time == nil%>
                n/a
              <% else %>
                ~ <%=article.reading_time%> min
              <% end %>
            </a>
            <!-- source --><a>
               | source: 
              <% if article.publisher_id == nil %>
                n/a
              <% else %>
                <a href="/publishers/<%=article.publisher_id%>">
                  <%= Publisher.find(article.publisher_id).name %>
                </a>
              <% end %>
            </a>
            <!-- author --><a>
               | author: 
              <% if article.author_id == nil %>
                n/a
              <% else %>
                <a href="/authors/<%=article.author_id%>">
                  <%= Author.find(article.author_id).name %>
                </a>
              <% end %>
            </a>
          </small></div> <!-- col reading time, source and author -->
          
        </div> <!-- row reading time,source and author -->
        
        <!-- row for rating, bookmarking + fav -->
        <small><div class="row">
          
          <!-- rating column -->
          <div class="col-md-8">
            
            <!-- computing average rating per article -->
            <% ratings_count = article.ratings.count %>
            <% if ratings_count > 0 %>
              <% sum=0 %>
              <% article.ratings.each do |i|%>
               <% sum += i.score %>
              <% end %>
              <% rating_avg = sum / ratings_count%>
            <% else %>
              <% rating_avg = 0 %>
            <% end %>
            
            <!-- if current user has already rated an article -->
            <% if article.user_ratings.where(:id => current_user.id).count != 0 %>
              <!-- first star -->
              <% if rating_avg == 0%>
                <i class="far fa-star"></i>
              <% else %>
                <i class="fas fa-star"></i>
              <% end %>
              <!-- second star -->
              <% if rating_avg <= 2 %>
                <i class="far fa-star"></i>
              <% elsif rating_avg == 3 %>
                <i class="fas fa-star-half"></i>
              <% else %>
                <i class="fas fa-star"></i>
              <% end %>
              <!-- third star star -->
              <% if rating_avg <= 4 %>
                <i class="far fa-star"></i>
              <% elsif rating_avg == 5 %>
                <i class="fas fa-star-half"></i>
              <% else %>
                <i class="fas fa-star"></i>
              <% end %>
              <!-- fourth star star -->
              <% if rating_avg <= 6 %>
                <i class="far fa-star"></i>
              <% elsif rating_avg == 7 %>
                <i class="fas fa-star-half"></i>
              <% else %>
                <i class="fas fa-star"></i>
              <% end %>
              <!-- fifth star star -->
              <% if rating_avg <= 8 %>
                <i class="far fa-star"></i>
              <% elsif rating_avg == 9 %>
                <i class="fas fa-star-half"></i>
              <% else %>
                <i class="fas fa-star"></i>
              <% end %>
              <a href="delete_rating/<%=Rating.where(:user_id => current_user.id, :article_id => article.id)[0].id%>" style="color:grey"> (Unrate)</a>
              
            <!-- if current user has not yet rated an article -->
            <% else %>
              <form action="/create_rating" method="post">
                 <button type="submit" style="background:none; border:none; padding:0; display:inline-block" name="score" value="2">
                   <% if rating_avg == 0%>
                     <i class="far fa-star"></i>
                   <% else %>
                     <i class="fas fa-star"></i>
                   <% end %>
                 </button>
                 <button type="submit" style="background:none; border:none; padding:0; display:inline-block" name="score" value="4">
                   <% if rating_avg <= 2 %>
                     <i class="far fa-star"></i>
                   <% elsif rating_avg == 3 %>
                     <i class="fas fa-star-half"></i>
                   <% else %>
                     <i class="fas fa-star"></i>
                   <% end %>
                 </button>
                 <button type="submit" style="background:none; border:none; padding:0; display:inline-block" name="score" value="6">
                   <% if rating_avg <= 4 %>
                     <i class="far fa-star"></i>
                   <% elsif rating_avg == 5 %>
                     <i class="fas fa-star-half"></i>
                   <% else %>
                     <i class="fas fa-star"></i>
                   <% end %>
                 </button>
                 <button type="submit" style="background:none; border:none; padding:0; display:inline-block" name="score" value="8">
                   <% if rating_avg <= 6 %>
                     <i class="far fa-star"></i>
                   <% elsif rating_avg == 7 %>
                     <i class="fas fa-star-half"></i>
                   <% else %>
                     <i class="fas fa-star"></i>
                   <% end %>
                 </button>
                 <button type="submit" style="background:none; border:none; padding:0; display:inline-block" name="score" value="10">
                   <% if rating_avg <= 8 %>
                     <i class="far fa-star"></i>
                   <% elsif rating_avg == 9 %>
                     <i class="fas fa-star-half"></i>
                   <% else %>
                     <i class="fas fa-star"></i>
                   <% end %>
                 </button>
                 <a style="color:grey">
                   <% if ratings_count == 0 %>
                     (no ratings yet)
                   <% elsif ratings_count == 1 %>
                     (<%=article.ratings.count%> rating)
                   <% else %>
                     (<%=article.ratings.count%> ratings)
                   <% end %>
                 </a>
                 <input type="hidden" name="user_id" value="<%=current_user.id%>">
                 <input type="hidden" name="article_id" value="<%=article.id%>">
              </form>
            <% end %>   
          </div> <!-- col-md-8 for star rating -->
          
          
        </div></small> <!-- row for rating, bookmark, fav -->
          
        
        <!-- row for user who posted and caption -->
        <div class="row">
          <div class="col-md-12 pt-2">
          <p><em>
              <small>shared by</small>
              <a href="/users/<%=article.user.id%>"><%=article.user.username%></a>
              <small> (<%= time_ago_in_words(article.created_at) %><%=%> ago)</small>
            </em><br/>
            <%=article.caption%>
            <%article.descriptions.each do |element|%>
              <a href="/hashtags/<%=element.hashtag_id%>">
                <%=Hashtag.find(element.hashtag_id).tag%>
              </a>
            <%end%>
          </p>
          <hr>
          </div>
        </div>
        
        
        <!-- rows for comments-->
        <% article.comments.each do |comment|%>
          <div class="row">
            <div class="col-md-12" style="line-height:1">
              <p style="margin-bottom:5px"><em>
                  <a href="/users/<%=comment.user_id%>"><%=User.find(comment.user_id).username%></a>
                </em>
                <small> >> <%=comment.body%></small>
              </p>
            </div>
          </div>
        <% end%>
      
        <!-- adding a comment-->
        <li class="media">
          <div class="media-body">
            <form action="/create_comment" method="post" class="pt-4">
              <input type="hidden" name="user_id" value="<%=current_user.id%>">
              <input type="hidden" name="article_id" value="<%=article.id%>">
              
              <div class="form-group">
                <label for="body" class="sr-only">
                  Body
                </label>
                <div class="input-group">
                  <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>
                  <span class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                      <i class="far fa-comment"></i>
                      Add Comment
                    </button>
                  </span>
                </div> <!-- input-group -->
              </div> <!-- form-group -->
            </form>
          </div> <!-- media-body -->
        </li>
        
         <!-- bookmarking and adding to favorites options-->
        
        <div class="row mt-2">
          <div class="col-md-12">
            <% if article.future_reads.where(:id => current_user.id).count == 0 %>
              <form action="/create_bookmark" method="post">
                <button type="submit" class="btn btn-outline-info btn-block" style="border-width:2px">
                  <i class="far fa-bookmark fa-1x"></i> Add to Bookmarks
                </button>
                <input type="hidden" name="user_id" value="<%=current_user.id%>">
                <input type="hidden" name="article_id" value="<%=article.id%>">
              </form>
            <% else %>
              <a href="/delete_bookmark/<%=Bookmark.where(:user_id => current_user.id, :article_id => article.id)[0].id%>" method="post">
                <button type="submit" class="btn btn-info btn-block">
                  <i class="fas fa-ban fa-1x"></i> Delete Bookmark
                </button>
              </a>
            <% end %> <!-- bookmark column if case 2 -->
          </div>
        </div>
        
      <div class="row mt-1">
        <div class="col-md-12">    
            <% if article.fans.where(:id => current_user.id).count == 0 %>
              <form action="/create_favorite" method="post">
                <button type="submit" class="btn btn-outline-secondary btn-block" style="border-width:2px" rel="nofollow">
                  <i class="far fa-thumbs-up"></i> Add to Favorites
                </button>
                <input type="hidden" name="user_id" value="<%=current_user.id%>">
                <input type="hidden" name="article_id" value="<%=article.id%>">
              </form>
            <% else %>
              <a href="/delete_favorite/<%=Favorite.where(:user_id => current_user.id, :article_id => article.id)[0].id%>" method="post">
                <button type="submit" class="btn btn-secondary btn-block" rel="nofollow">
                  <i class="fas fa-thumbs-down fa-1x"></i> Delete from Favorites
                </button>
              </a>
            <% end %> 
          </div>      
        </div>
        
      </ul>
    </div> <!-- card body -->
    
</div>