<div class="container">
  <!-- not even sure what this is there for -->
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>

  <!-- New article button -->
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <a href="/articles/new" class="btn btn-primary btn-block">
        <i class="fa fa-fw fa-plus"></i>
        Share an article
      </a>
      <hr>
    </div> <!-- col -->
  </div> <!-- row -->



  <!-- looping through each article -->
  <% @articles.reverse_each do |article| %>
  
    <!-- Twitter card code #1 -->
    
    <div class="row mb-5">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          
          <!-- card title -->
          <div class="card-header">
              <h4 class="card-title">
                  static title (tbr)
              </h4>
          </div> <!-- card header -->
          
          <div class="card-body">
              <!-- snippet of article + desciption with link to website -->
              <!-- still need to look into video compatibility -->
              <a href="<%=article.link%>">
                Placeholder for picture link
              </a>
              
              
              <ul class="list-unstyled pl-4 pr-4 pt-2">
                
                <!-- row for rating, bookmarking + fav -->
                <div class="row">
                  
                  <!-- rating column -->
                  <div class="col-md-8">
                    
                    <!-- computing average rating per article -->
                    <% ratings_count = article.ratings.count %>
                    <% if ratings_count > 0 %>
                      <% sum=0 %>
                      <% article.ratings.each do |i|%>
                       <% sum += i.score %>
                      <% end %>
                      <% rating_avg = sum / ratings_count%>
                    <% else %>
                      <% rating_avg = 0 %>
                    <% end %>
                    
                    <!-- if current user has already rated an article -->
                    <% if article.user_ratings.where(:id => current_user.id).count != 0 %>
                      <!-- first star -->
                      <% if rating_avg == 0%>
                        <i class="far fa-star"></i>
                      <% else %>
                        <i class="fas fa-star"></i>
                      <% end %>
                      <!-- second star -->
                      <% if rating_avg <= 2 %>
                        <i class="far fa-star"></i>
                      <% elsif rating_avg == 3 %>
                        <i class="fas fa-star-half"></i>
                      <% else %>
                        <i class="fas fa-star"></i>
                      <% end %>
                      <!-- third star star -->
                      <% if rating_avg <= 4 %>
                        <i class="far fa-star"></i>
                      <% elsif rating_avg == 5 %>
                        <i class="fas fa-star-half"></i>
                      <% else %>
                        <i class="fas fa-star"></i>
                      <% end %>
                      <!-- fourth star star -->
                      <% if rating_avg <= 6 %>
                        <i class="far fa-star"></i>
                      <% elsif rating_avg == 7 %>
                        <i class="fas fa-star-half"></i>
                      <% else %>
                        <i class="fas fa-star"></i>
                      <% end %>
                      <!-- fifth star star -->
                      <% if rating_avg <= 8 %>
                        <i class="far fa-star"></i>
                      <% elsif rating_avg == 9 %>
                        <i class="fas fa-star-half"></i>
                      <% else %>
                        <i class="fas fa-star"></i>
                      <% end %>
                      <a href="delete_rating/<%=Rating.where(:user_id => current_user.id, :article_id => article.id)[0].id%>" style="color:grey"> (Unrate)</a>
                      
                    <!-- if current user has not yet rated an article -->
                    <% else %>
                      <form action="/create_rating" method="post">
                         <button type="submit" style="background:none; border:none; padding:0; display:inline-block" name="score" value="2">
                           <% if rating_avg == 0%>
                             <i class="far fa-star"></i>
                           <% else %>
                             <i class="fas fa-star"></i>
                           <% end %>
                         </button>
                         <button type="submit" style="background:none; border:none; padding:0; display:inline-block" name="score" value="4">
                           <% if rating_avg <= 2 %>
                             <i class="far fa-star"></i>
                           <% elsif rating_avg == 3 %>
                             <i class="fas fa-star-half"></i>
                           <% else %>
                             <i class="fas fa-star"></i>
                           <% end %>
                         </button>
                         <button type="submit" style="background:none; border:none; padding:0; display:inline-block" name="score" value="6">
                           <% if rating_avg <= 4 %>
                             <i class="far fa-star"></i>
                           <% elsif rating_avg == 5 %>
                             <i class="fas fa-star-half"></i>
                           <% else %>
                             <i class="fas fa-star"></i>
                           <% end %>
                         </button>
                         <button type="submit" style="background:none; border:none; padding:0; display:inline-block" name="score" value="8">
                           <% if rating_avg <= 6 %>
                             <i class="far fa-star"></i>
                           <% elsif rating_avg == 7 %>
                             <i class="fas fa-star-half"></i>
                           <% else %>
                             <i class="fas fa-star"></i>
                           <% end %>
                         </button>
                         <button type="submit" style="background:none; border:none; padding:0; display:inline-block" name="score" value="10">
                           <% if rating_avg <= 8 %>
                             <i class="far fa-star"></i>
                           <% elsif rating_avg == 9 %>
                             <i class="fas fa-star-half"></i>
                           <% else %>
                             <i class="fas fa-star"></i>
                           <% end %>
                         </button>
                         <a style="color:grey">
                           <% if ratings_count == 0 %>
                             (no ratings yet)
                           <% elsif ratings_count == 1 %>
                             (<%=article.ratings.count%> rating)
                           <% else %>
                             (<%=article.ratings.count%> ratings)
                           <% end %>
                         </a>
                         <input type="hidden" name="user_id" value="<%=current_user.id%>">
                         <input type="hidden" name="article_id" value="<%=article.id%>">
                      </form>
                    <% end %>   
                  </div> <!-- col-md-8 for star rating -->
                  
                  <!-- bookmarking column -->
                  <div class="col-md-1 offset-md-2">
                    <% if article.future_reads.where(:id => current_user.id).count == 0 %>
                      <form action="/create_bookmark" method="post">
                        <button type="submit" style="background:none; border:none; padding:0; display:inline-block">
                          <i class="far fa-bookmark fa-1x"></i>
                        </button>
                        <input type="hidden" name="user_id" value="<%=current_user.id%>">
                        <input type="hidden" name="article_id" value="<%=article.id%>">
                      </form>
                    <% else %>
                      <a href="/delete_bookmark/<%=Bookmark.where(:user_id => current_user.id, :article_id => article.id)[0].id%>" method="post">
                        <button type="submit" style="background:none; border:none; padding:0; display:inline-block">
                          <i class="fas fa-bookmark fa-1x"></i>
                        </button>
                      </a>
                    <% end %> <!-- bookmark column if case 2 -->
                  </div>
                  
                  <!-- adding to favorites -->
                  <div class="col-md-1">
                    <% if article.fans.where(:id => current_user.id).count == 0 %>
                      <form action="/create_favorite" method="post">
                        <button type="submit" style="background:none; border:none; padding:0; display:inline-block">
                          <i class="far fa-thumbs-up"></i>
                        </button>
                        <input type="hidden" name="user_id" value="<%=current_user.id%>">
                        <input type="hidden" name="article_id" value="<%=article.id%>">
                      </form>
                    <% else %>
                      <a href="/delete_favorite/<%=Favorite.where(:user_id => current_user.id, :article_id => article.id)[0].id%>" method="post">
                        <button type="submit" style="background:none; border:none; padding:0; display:inline-block">
                          <i class="fas fa-thumbs-up fa-1x"></i>
                        </button>
                      </a>
                    <% end %> 
                  </div> <!-- fav column -->
                </div> <!-- row for rating, bookmark, fav -->
                
                <!-- row for user who posted and caption -->
                <div class="row">
                  <div class="col-md-12 pt-2">
                  <p><em>
                      <small>shared by</small>
                      <a href="/users/<%=article.user.id%>"><%=article.user.username%></a>
                      <small> (<%= time_ago_in_words(article.created_at) %><%=%> ago)</small>
                    </em><br/>
                    <%=article.caption%>
                  </p>
                  <hr>
                  </div>
                </div>
                
                
                <!-- rows for comments-->
                <% article.comments.each do |comment|%>
                  <div class="row">
                    <div class="col-md-12" style="line-height:1">
                      <p style="margin-bottom:5px"><em>
                          <a href="/users/<%=comment.user_id%>"><%=User.find(comment.user_id).username%></a>
                        </em>
                        <small> >> <%=comment.body%></small>
                      </p>
                    </div>
                  </div>
                <% end%>
              
                <!-- adding a comment-->
                <li class="media">
                  <div class="media-body">
                    <form action="/create_comment" method="post" class="pt-4">
                      <input type="hidden" name="user_id" value="<%=current_user.id%>">
                      <input type="hidden" name="article_id" value="<%=article.id%>">
                      
                      <div class="form-group">
                        <label for="body" class="sr-only">
                          Body
                        </label>
                        <div class="input-group">
                          <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>
                          <span class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                              <i class="far fa-comment"></i>
                              Add Comment
                            </button>
                          </span>
                        </div> <!-- input-group -->
                      </div> <!-- form-group -->
                    </form>
                  </div> <!-- media-body -->
                </li>
                
                 <!-- delete and edit options-->
                <% if article.user_id == current_user.id%>
                  <div class="btn-group d-flex" role="group">
                    <a href="/articles/<%=article.id%>/edit" class="btn btn-warning w-100">
                      <i class="fas fa-edit"></i>
                      Edit
                    </a>
                    <a href="/delete_article/<%=article.id%>" class="btn btn-danger w-100" rel="nofollow">
                      <i class="fas fa-trash"></i>
                      Delete
                    </a>
                  </div>
                <% end%>
                
              </ul>
            </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
  </div> <!-- row -->
  <% end %>
</div>
