<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All authors
    </h1>

    <a href="/authors/new" class="btn btn-block btn-outline-secondary">
      Add a new author
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @authors.each do |author| %>
      <tr>
        <td>
          <%= author.id %>
        </td>

        <td>
          <%= author.name %>
        </td>

        <td>
          <%= time_ago_in_words(author.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(author.updated_at) %> ago
        </td>

        <td>
          <a href="/authors/<%= author.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
