<!DOCTYPE html>
<html>
  <head>
    <title>
      KnowledgeSwipe
    </title>
    
    <!-- links to bootstrap and fontawesome as well as scripts for jquery, cloudflare and maxcdn.bootstrapcdn -->
    <%= render "shared/bootstrapcdn_assets" %>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- characters beyond basic ASCII -->
    <meta charset="utf-8">
    <!-- another meta command -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <style>
      body { padding-bottom: 70px }
    </style>
  
  </head>

  <body>
    
    <!-- navbar on top of website -->
    <%= render "shared/navbar" %>
    
    <div class="container">
      
      <!-- flashes on top of html views -->
      <%= render "shared/flashes" %>
      
      <!-- html views -->
      <%= yield %>
      
    </div>

    <%= dev_tools if Rails.env.development? %>
  </body>
</html>
